<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
    <!--제이쿼리-->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <!-- 카카오 지도API -->
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=a2934dc1e36b528c374fc8c1f2fa06ca"></script>

    <link rel="shortcut icon" href="/project/image/favicon/favicon.ico">
    <link rel="stylesheet" href=" /project/css/nav.css">
    <link rel="stylesheet" href=" /project/css/SingUp.css">
    <link rel="stylesheet" href="/project/css/Login.css">

</head>
<header>
    <div class="nav">
        <div class="logo">
            <a href="/static"><img src="/project/image/Logo/여기있냥.png" alt=""></a>

        </div>
        <div class="nav_but">
            <a href="/Boast"><img src="/project/image/menuimg/메뉴이미지1-3.png"> 냥이 자랑 </a>
            <a href="/Recommend"><img src="/project/image/menuimg/메뉴이미지2-3.png"> 추천게시판 </a>
            <a href="/Sharing"><img src="/project/image/menuimg/메뉴이미지3-3.png"> 나눔게시판 </a>
            <a href="/board"><img src="/project/image/menuimg/메뉴이미지4-3.png"> 자유게시판 </a>
        </div>
        <div class="nav2_but">
            <a href="./login" onclick="window.open(this.href, '_blank', 'width=450, height=600'); return false;">로그인 | 회원가입</a>
        </div>
    </div>
</header>
</html>