<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>있냥?! 회원가입</title>
    <style>
    </style>
</head>
	<link rel="shortcut icon" href="/project/image/favicon/favicon.ico">
	<link rel="stylesheet" href="/project/css/SingUp.css">
<body>
    
    <div class="login-wrapper">
        <img src="/project/image/Logo/너두있냥.png" alt="">
        <h2><span style="text-shadow:2px 2px 2px #000;">회원가입</span></h2>
        <!-- 폼에 액션이 없으면 주소 그대로 보낸다 -->
        <form id="login-form" method="post">
        	<div class="idc">
        		<input type="text" name="ID"  placeholder="ID">
        		<button type="button" id="check_id">중복확인</button>
        	</div>
            <input type="password" name="PASS" placeholder="Password">
            <!-- <input type="password" name="passC" placeholder="Password 확인"> -->
            <input type="text" name="NAME" placeholder="성명">
            <input type="text" name="EMAIL" placeholder="이메일주소">
            <input type="text" name="PHONE" placeholder="전화번호">
            
            <input type="submit" value="가입" >
        </form>
    </div>

</body>
</html>